@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500');
@import url('../../node_modules/purecss/build/pure.css');
@import url('../../node_modules/purecss/build/grids-responsive.css');

body {
  background: #eeeeee;
  font-size: 16px;
  font-family: "Roboto";
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Roboto"
}

/* Small */
@media (min-width: 768px) {
  body {
    font-size: 32px;
  }
}

/* Medium */

@media (min-width: 992px) {
  body {
    font-size: 24px;
  }
}

/* Large */

@media (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

.uppercase {
  text-transform: uppercase;
}
