.connection-card-container {
  display: flex;
  flex-direction: column;
}

.connection {
  margin: 0.5em;
  color: #616161;
}

.connection-card-container .connection span {
  display: block;
}

.connection-card-container .connection-time {
  background-color: #9E9E9E;
  color: #fff;
  border-color: #616161;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  padding: 1em;
}
